set_io CLK H16
set_io rst R11
set_io D0 B16
set_io D1 C16
set_io D2 D14
set_io D3 D16
set_io D4 E16
set_io D5 D15
set_io D6 F16
set_io D7 E14
set_io RXFn G16
set_io TXEn F15
set_io RDn J15
set_io WRn G15
set_io OEn H14
set_io clock J3
set_io UartRx B10
set_io UartTx B12
set_io LED0 B5
set_io LED1 B4
set_io LED2 A2
set_io LED3 A1
set_io LED4 C5
set_io LED5 C4
set_io LED6 B3
set_io LED7 C3
set_io ScpClk R9
set_io EValid T9
set_io ED0 T7
set_io ED1 T8
set_io ED2 T6
set_io ED3 R6
set_io ED4 R5
set_io ED5 T5
set_io ED6 R3
set_io ED7 R4
set_io IValid P8
set_io ID0 P9
set_io ID1 T10
set_io ID2 R10
set_io ID3 T11
set_io ID4 P10
set_io ID5 N10
set_io ID6 M11
set_io ID7 N12
